# Byte-compilado / otimizado / arquivos DLL
__pycache__ /
* .py [ cod ]
* $ py.class

Extensões # C
* .so

# Config files Editor de Texto / IDE
.idea /
.idea / *
.vscode /
.vscode / *

# Distribuição / embalagem
.Python
construir /
desenvolver ovos /
dist /
downloads /
ovos /
.eggs /
lib /
lib64 /
partes /
sdist /
var /
rodas /
* .egg-info /
.installed.cfg
* .egg
MANIFESTO

# PyInstaller
#   Normalmente, esses arquivos são escritos por um script python de um modelo
#   antes que o PyInstaller construa o exe, para injetar data / outras informações nele.
*. manifesto
* .spec

# Logs do instalador
pip-log.txt
pip-delete-this-directory.txt

# Teste de unidade / relatórios de cobertura
htmlcov /
.tox /
.cobertura
.cobertura. *
.cache
nosetests.xml
coverage.xml
* .cover
Hipótese /
.pytest_cache /

# Traduções
* .mo
* .pot

# Coisas do Django:
* .log
local_settings.py
db.sqlite3

# Material de balão:
instance /
.webassets-cache

# Coisas escamosas:
.scrapy

# Documentação Sphinx
docs / _build /

# PyBuilder
alvo /

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# arquivo de agendamento de batida de aipo
celerybeat-schedule

# SageMath analisou arquivos
* .sage.py

# Ambientes
.env
.venv
env /
venv /
ENV /
env.bak /
venv.bak /

# Configurações do projeto Spyder
.spyderproject
.spyproject

Configurações do projeto # Rope
.ropeproject

# documentação do mkdocs
/ site

# mypy
.mypy_cache /
